doctype html
html
    head
        title= "FitnessHandin1"
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    
    body

        div.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header

        div.container
            block content